@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  color: white;
  background: #100622;
  font-family: "'Inter', sans-serif",
}
/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Track (Background) of the Scrollbar */
*::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
  border-radius: 5px; /* Rounded corners */
}

/* Handle (The draggable part of the scrollbar) */
*::-webkit-scrollbar-thumb {
  background-color: #6A57D5; /* Purple color from your theme */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #fff; /* Add a border for separation from track */
}

/* Hover effect on the thumb (when you hover the handle) */
*::-webkit-scrollbar-thumb:hover {
  background-color: #5a49a8; /* Slightly darker purple on hover */
}

/* Optional: Adding a custom style to the scrollbar on the horizontal axis */
*::-webkit-scrollbar-horizontal {
  height: 10px; /* Adjust height for horizontal scrollbar */
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: #6A57D5;
  border-radius: 5px;
}